#titulo {
    border-radius: 10px;
    background: darkred;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#pizzas {
    color: 
    text-shadow:;
}
.nav {
    padding: 2px;
    font-size: 40px;

}